/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, lightblue, lightyellow);
  text-align: center;
  font-family: 'Lora', serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: 100dvh;
  
}

section {
  width: 49%;
  max-width: 800px;
}

input, button {
  cursor: pointer;
}



/******************************************
/* LAYOUT
/*******************************************/


input {
  display: block;
  width: 50%;
  margin: 2em auto;
  font-weight: 700;
  font-size: 1.2rem;
  border: 2px solid black;
  box-shadow: 5px 5px 5px lightgray;
}


button {
  font-weight: 700;
  box-shadow: 5px 5px 5px lightgray;
  background: linear-gradient( rgb(252, 167, 10), rgb(243, 143, 243));
  margin: 1%;
}

#cocktails button:nth-child(odd) {
  background: lightblue;
}

#cocktails button:nth-child(even) {
  background: lightyellow;
}

button:hover {
  background: rgba(145, 255, 0, 0.2);
}

#cocktails button:hover {
  background: rgba(145, 255, 0, 0.2);
}


h2 {
  font-style: italic;
  font-weight: 700;
}

#cocktails {
  max-width: 530px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.5em;
  margin: 0 auto;
  margin-bottom: 3%;
}

h4, ul {
  text-align: left;
  font-size: 1.15em;
}

h4 {
  padding: 2%;
}

ul {
  display: inline-block;
  font-weight: 700;
  list-style-image: url(../img/glassSmall.png);
}

img{
  display: block;
  margin: 0 auto;
  border-radius: 10%;
  box-shadow: 1.5vw 1.5vw 1.5vw grey;
  margin: auto;
  width: 90%;
  max-width: 600px;
}


p {
  font-weight: 700;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  margin-top: 5%;
}

.hidden {
  display: none;
}

section + section {
  display: flex;
  align-content: center;
}

#instr {
  display: flex;
  justify-content: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 1100px) {
  section {
    width: 100%;
  }

  #cocktails {
    max-width: 530px;
  }

  img {
    margin: 10% auto;
  }

}

@media screen and (max-width: 400px) {
  #cocktails {
    width: 90%;
    grid-template-columns: repeat(2, auto);
  }

}